# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD
# Git Setup
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingKey = ~/.ssh/id_main_key

[core]
	compression = 9
	editor = code -w
	whitespace = error
	pager = delta
	preloadindex = true

[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[init]
	defaultBranch = main

# Git Status
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
	submoduleSummary = true

# Git Diff
[merge]
	autoStash = true
	conflictStyle = zdiff3

[interactive]
	diffFilter = delta --color-only
	singlekey = true

[diff]
	context = 3
	colorMoved = default
	interHunkContext = 10
	renames = copies

[delta]
	line-numbers = true
	navigate = true
	syntax-theme = Visual Studio Dark+
	tabs = 4

# Git Commit
[commit]
	gpgSign = true
	template = ~/.config/git/template
	verbose = true

# Git Pull, Push, and Rebase
[fetch]
	prune = true
	pruneTags = true

[pull]
	default = current
	rebase = interactive

[push]
	autoSetupRemote = true
	autoSquash = true
	default = current
	followTags = true
	recurseSubmodules = on-demand

[submodule]
	fetchJobs = 16
	recurse = true

[rebase]
	abbreviateCommands = true
	autoStash = true
	autoSquash = true
	missingCommitsCheck = true

[rerere]
	autoUpdate = true
	enabled = true

# Git Branch, Tag, and Log
[branch]
	sort = -committerdate

[tag]
	gpgSign = true
	sort = -taggerdate

[log]
	abbrevCommit = true

[format]
	pretty = %C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)[%an]%C(reset)

# Git Alias
[alias]
	alias = config get --all --global --regexp alias
	amend = commit -p --amend

	a = add -p

	b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:bold green)(%(committerdate:relative))%(color:reset) %(color:dim white)[%(authorname)]%(color:reset)'
	ba = branch -a
	bd = branch -d
	bdf = branch -df

	c = commit -p

	cl = clone --recursive

	co = checkout
	cob = checkout -b
	cop = checkout -
	com = checkout main

	d = diff --stat
	dl = diff
	dc = diff --cached --stat
	dcl = diff --cached

	l = log --all --graph

	p = push
	pf = push --force-with-lease --force-if-includes

	pl = pull

	re = reset -p
	reh = reset -p --hard
	rek = reset -p --keep
	res = reset -p --soft

	rb = rebase -i
	rba = rebase --abort
	rbc = rebase --continue
	rbr = rebase -i --root

	s = status -sb
	sl = status

	sm = submodule
	sma = submodule add
	sms = submodule status
	smu = submodule update --init --recursive

	st = stash -p
	sta = stash apply
	std = stash drop
	stl = stash list
	stp = stash pop

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	format = ssh

{{ if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ end }}
