# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD
# Git Setup
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingKey = 5C5400B08A9A51A3BF1BC1176DA8EF9135CAA64C

[core]
	compression = 9
	editor = code -w
	whitespace = error
	preloadindex = true

[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[init]
	defaultBranch = main

# Git Status
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
	submoduleSummary = true

# Git Diff
[pager]
	diff = delta

[merge]
	autoStash = true
	conflictStyle = zdiff3

[interactive]
	diffFilter = delta --color-only
	singlekey = true

[diff]
	context = 3
	colorMoved = default
	interHunkContext = 10
	renames = copies

[delta]
	line-numbers = true
	navigate = true
	syntax-theme = Visual Studio Dark+
	tabs = 4

# Git Commit
[commit]
	gpgSign = true
	template = ~/.config/git/template
	verbose = true

# Git Pull, Push, and Rebase
[fetch]
	prune = true

[pull]
	default = current
	rebase = true

[push]
	autoSetupRemote = true
	autoSquash = true
	default = current
	followTags = true

[submodule]
	fetchJobs = 16
	recurse = true

[rebase]
	abbreviateCommands = true
	autoStash = true
	autoSquash = true
	missingCommitsCheck = true

[rerere]
	autoUpdate = true
	enabled = true

# Git Branch, Tag, and Log
[branch]
	sort = -committerdate

[tag]
	gpgSign = true
	sort = -taggerdate

[log]
	abbrevCommit = true

[format]
	pretty = %C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n          %C(white)%s%C(reset) %C(dim white)[%an]%C(reset)
	signOff = true

# Git Alias
[alias]
	alias = config get --all --global --regexp alias
	amend = commit -as --amend

	a = add
	aa = add -A

	b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:bold green)(%(committerdate:relative))%(color:reset) %(color:dim white)[%(authorname)]%(color:reset)'
	ba = branch -a
	bd = branch -d
	bdf = branch -df

	c = commit -s
	ca = commit -as
	caa = commit -as --amend
	cm = commit -sm
	cam = commit -asm

	cl = clone
	clrs = clone --recurse-submodules

	co = checkout
	cob = checkout -b
	cop = checkout -
	com = checkout main

	d = diff --stat
	dl = diff
	dc = diff --cached --stat
	dcl = diff --cached

	f = fetch

	l = log --all --graph

	p = push
	pf = push --force-with-lease --force-if-includes

	pl = pull

	r = reset
	rhard = reset --hard
	rk = reset --keep
	rs = reset --soft

	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	rbir = rebase -i --root

	s = status -sb
	sl = status

	st = stash
	sta = stash apply
	std = stash drop
	stl = stash list
	stm = stash -m
	stp = stash pop

	sub = submodule
	suba = submodule add
	subi = submodule update --init --recursive
	subs = submodule status
	subu = submodule update --recursive --remote --rebase

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

{{ if (eq .chezmoi.os "windows") -}}
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
{{ else if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
[gpg]
	program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe

[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ end }}
