# SPDX-FileCopyrightText: 2024 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

*             text=auto
*.nix         text eol=lf
*.sh          text eol=lf
*.sh.tmpl     text eol=lf
*.zsh         text eol=lf
.shellcheckrc text eol=lf
dot_z*        text eol=lf
executable_*  text eol=lf
install       text eol=lf
