# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

{{- if (eq .chezmoi.os "windows") }}
.config/*
!.config/fzf
!.config/ripgrep
.gnupg
.local

.lessfilter
{{- end }}

{{- if (eq .chezmoi.os "linux") }}
.glzr
AppData
{{- end }}
