# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

{{ if (eq .chezmoi.os "windows") -}}
["AppData/Roaming/vivid/filetype.yml"]
{{ else -}}
[".config/vivid/filetype.yml"]
{{ end -}}
type = "file"
url = "https://raw.githubusercontent.com/sharkdp/vivid/master/config/filetypes.yml"
