# SPDX-FileCopyrightText: 2024 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

{{- $codespaces := env "CODESPACES" | not | not -}}
sourceDir: {{ .chezmoi.sourceDir | quote }}

progress: true

data:
  codespaces: {{ $codespaces }}
  email: twopizza9621536@gmail.com
  name: Samuel Wu

edit:
  command: code
  args:
    - -w

diff:
  pager: delta
  exclude:
    - externals
    - scripts

interpreters:
  ps1:
    command: pwsh
    args:
      - -NoLogo
