{{ if (eq .chezmoi.os "windows") -}}
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

# Update packages
winget update --all --accept-package-agreements

# Install CLI tools
winget install -e aristocratos.btop4win ajeetdsouza.zoxide `
  BurntSushi.ripgrep.MSVC charmbracelet.glow cURL.cURL dandavison.delta `
  dundee.gdu Fastfetch-cli.Fastfetch Gyan.FFmpeg hpjansson.Chafa `
  ImageMagick.ImageMagick jftuga.less jqlang.jq junegunn.fzf `
  koalaman.shellcheck MediaArea.MediaInfo Microsoft.OpenSSH.Preview `
  muesli.duf mvdan.shfmt nektos.act rhysd.actionlint sharkdp.bat sharkdp.fd `
  sharkdp.hexyl sharkdp.hyperfine sharkdp.vivid sxyazi.yazi yt-dlp.yt-dlp `
  XAMPPRocky.tokei

winget install --accept-package-agreements -e XP8K0HKJFRXGCK

{{ end -}}
