{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

{{ if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.io "debian")) }}

sudo apt update -y
sudo apt upgrade -y
sudo apt install -y bat chafa exiftool eza fastfetch fd-find fzf gh \
  git-delta glow micro ripgrep vivid zoxide zsh

sudo apt install -y autotools-dev autoconf build-essential

{{ else if (eq .chezmoi.osRelease.id "arch") }}

sudo pacman -Syu --confirm
sudo pacman -S --needed --confirm bat chafa exiftool eza fastfetch fd fzf \
  github-cli git-delta glow lesspipe micro ripgrep vivid zoxide zsh

sudo pacman -S --needed --confirm base-devel

{{ else if (eq .chezmoi.osRelease.id "fedora") }}

sudo dnf upgrade -y
sudo dnf install -y bat chafa exiftool eza fastfetch fd-find fzf gh \
  git-delta glow micro ripgrep zoxide zsh

sudo dnf group install -y c-development

{{ end }}
{{ end }}
