{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) -}}
#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

# Update packages
sudo dnf upgrade -y

# Install Development Tools
sudo dnf group install -y {{ .fedora.groups | quoteList | join " " }}

# Install packages
sudo dnf install -y {{ .fedora.packages | quoteList | join " " }}
{{ end -}}
