{{ if (eq .chezmoi.os "windows") -}}
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

# Update packages
winget update --all --accept-package-agreements

# Install CLI tools
winget install -e {{ .packages.windows.cli | quoteList | join " " }}

# Install GUI applications
winget install -e {{ .packages.windows.gui | quoteList | join " " }}
{{ end -}}
