{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

{{ if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian")) }}

sudo apt update -y
sudo apt upgrade -y
sudo apt install -y bat chafa eza fastfetch fd-find fzf gh git-delta glow \
  libimage-exiftool-perl micro pandoc ripgrep vivid zoxide zsh

sudo apt install -y autotools-dev autoconf build-essential

{{ else if (eq .chezmoi.osRelease.id "arch") }}

sudo pacman -Syu --noconfirm
sudo pacman -S --needed --noconfirm bat chafa eza fastfetch fd fzf github-cli \
  git-delta glow lesspipe micro navi pandoc perl-image-exiftool ripgrep vivid \
  zoxide zsh

sudo pacman -S --needed --noconfirm base-devel

{{ else if (eq .chezmoi.osRelease.id "fedora") }}

sudo dnf upgrade -y
sudo dnf install -y bat chafa eza fastfetch fd-find fzf gh git-delta glow \
  micro navi pandoc perl-Image-ExifTool ripgrep zoxide zsh

sudo dnf group install -y c-development

{{ end }}
{{ end }}
