{{ if (eq .chezmoi.os "linux") -}}
#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

mkdir -p "${HOME}/.local/bin"

if ! command -v vivid >/dev/null; then
  curl -fsSL https://github.com/sharkdp/vivid/releases/download/v0.10.1/vivid-v0.10.1-x86_64-unknown-linux-gnu.tar.gz |
    tar -xz --strip-components=1 -C "${HOME}/.local/bin" vivid-v0.10.1-x86_64-unknown-linux-gnu/vivid
fi

if ! command -v eza >/dev/null; then
  curl -fsSL https://github.com/eza-community/eza/releases/download/v0.23.3/eza_x86_64-unknown-linux-gnu.tar.gz |
    tar -xz --strip-components=1 -C "${HOME}/.local/bin" ./eza
fi

if ! command -v scc >/dev/null; then
  curl -fsSL https://github.com/boyter/scc/releases/download/v3.5.0/scc_Linux_x86_64.tar.gz  |
    tar -xz -C "${HOME}/.local/bin" scc
fi

{{ end -}}
