{{ if (eq .chezmoi.os "windows") }}
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

winget update --all --accept-package-agreements

winget install -e BurntSushi.ripgrep.MSVC Fastfetch-cli.Fastfetch GitHub.cli `
  ImageMagick.ImageMagick ajeetdsouza.zoxide charmbracelet.glow `
  dandavison.delta dbrgn.tealdeer eza-community.eza hpjansson.Chafa `
  jftuga.less junegunn.fzf sharkdp.bat sharkdp.fd sharkdp.hexyl sharkdp.vivid `
  zyedidia.micro

winget install --accept-package-agreements -e XP8K0HKJFRXGCK

{{ end }}
