{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) -}}
#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

# Add coprs
{{ range .fedora.copr -}}
sudo dnf copr enable {{ . | shellQuote }}
{{ end -}}

# Update packages
sudo dnf upgrade -y

# Install Development Tools
sudo dnf group install -y {{ .fedora.groups | shellQuoteList | join " " }}

# Install packages
sudo dnf install -y {{ .fedora.packages | shellQuoteList | join " " }}
{{ end -}}
