{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

source /etc/os-release

packages=(
  aspell
  bat
  bfs
  btop
  chafa
  curl
  duf
  elinks
  eza
  fastfetch
  fzf
  gdu
  git-delta
  glow
  hexyl
  hyperfine
  imagemagick
  jq
  lesspipe
  nano
  ripgrep
  shellcheck
  shfmt
  tmux
  tokei
  vim
  wget
  zoxide
)

case "$ID $ID_LIKE" in
*"debian"*)
  packages+=(fd-find libimage-exiftool-perl vivid)

  # Compilers
  packages+=(
    autotools-dev
    autoconf
    build-essential
    ccache
    clang-format
    clang-tidy
  )

  sudo apt update -y
  sudo apt upgrade -y
  ;;
*"arch"*)
  packages+=(fd lesspipe perl-image-exiftool vivid)

  # Compilers
  packages+=(base-devel ccache clang)

  # Package manager tools
  packages+=(pacman-contrib)

  sudo pacman -Syu --noconfirm
  sudo pacman -S --noconfirm --needed "${packages[@]}"
  ;;
*"fedora"*)
  packages+=(fd-find perl-Image-ExifTool ShellCheck vivid)

  # Compilers
  packages+=(@c-development @development-tools ccache clang-tools-extra)

  sudo dnf upgrade -y
  sudo dnf install -y "${packages[@]}"
  ;;
*"nixos"*)
  echo "NixOS is not supported by this script."
  echo "However, you can use the configurations in the \`nixos\` folder."
  exit 1
  ;;
*)
  echo "Sorry your distribution is not supported by this script."
  echo "Please create an issue or pull request to add your distribution."
  exit 1
  ;;
esac

mkdir -p "${HOME}/.local/bin"
mkdir -p "${XDG_CONFIG_HOME:-$HOME/.config}/vivid"

curl -fsSLo "${XDG_CONFIG_HOME:-$HOME/.config}/vivid/filetype.yml" \
  https://raw.githubusercontent.com/sharkdp/vivid/refs/heads/master/config/filetypes.yml

if ! command -v vivid >/dev/null; then
  curl -fsSL https://github.com/sharkdp/vivid/releases/download/v0.10.1/vivid-v0.10.1-x86_64-unknown-linux-gnu.tar.gz |
    tar -xz --strip-components=1 -C "${HOME}/.local/bin" vivid-v0.10.1-x86_64-unknown-linux-gnu/vivid
fi

{{ end -}}
