{{ if (eq .chezmoi.os "windows") -}}
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

# Update packages
winget update --all --accept-package-agreements

# Install CLI tools
winget install -e aristocratos.btop4win ajeetdsouza.zoxide `
  BurntSushi.ripgrep.MSVC charmbracelet.glow cURL.cURL dandavison.delta `
  dundee.gdu Fastfetch-cli.Fastfetch Gyan.FFmpeg hpjansson.Chafa `
  ImageMagick.ImageMagick jftuga.less jqlang.jq junegunn.fzf `
  MediaArea.MediaInfo Microsoft.OpenSSH.Preview muesli.duf sharkdp.bat `
  sharkdp.fd sharkdp.hexyl sharkdp.hyperfine sharkdp.vivid yt-dlp.yt-dlp `
  XAMPPRocky.tokei

winget install glzr-io.glazewm KDE.Glaxnimate KDE.Kdenlive namazso.OpenHashTab `
  YutakaSawada.MultiPar

winget install --accept-package-agreements -e XPDC2RH70K22MN XP8K0HKJFRXGCK `
  XP9KHM4BK9FZ7Q 9N41MSQ1WNM8

{{ end -}}
