# SPDX-FileCopyrightText: 2026 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

{{ if (eq .chezmoi.os "windows") -}}
["AppData/Roaming/mpv"]
stripComponents = 1
type = "archive"
url = "https://github.com/wushenrong/mpv-config/archive/master.tar.gz"
{{ end -}}
