{{ if (and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "debian") (.chezmoi.osRelease.idLike | contains "debian"))) -}}
#!/bin/sh
# SPDX-FileCopyrightText: 2025 Samuel Wu
#
# SPDX-License-Identifier: 0BSD

# Update Debian/Ubuntu
sudo apt update -y
sudo apt upgrade -y

# Install CLI tools
sudo apt install -y bat bfs chafa eza fastfetch fd-find fzf gh git-delta glow \
  htop imagemagick jq libimage-exiftool-perl micro pandoc ripgrep \
  silversearcher-ag tealdeer vivid zoxide zsh

# Install C/C++ compilers and development tools
sudo apt install -y autotools-dev autoconf build-essential clang-format \
  clang-tidy

# Install python tools
sudo apt install -y pipx 

pipx install uv

uv tool install cpplint
uv tool install cmakelang[YAML]
uv tool install pre-commit
uv tool install reuse

{{ end }}
